html,
body {
    height: 100%;
}
body {
    background-image: url(./kenrick-mills-unsplash-reduced.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.right-align-text {
    text-align: right;
}
.left-align-text {
    text-align: left;
}
#sampleimage {
    width: 100%;
    margin-top: 0;
}
#today,#weather-now {
    margin-right: 1rem;
}
#todaysWeatherIcon {
    font-size: 76px;
}
#todaysTemp {
    font-size: 36px;
    font-weight: 700;
}
.standard-font-size {
    font-size: 18px;
}
.smallFontSize {
    font-size: 14px;
}
.small-icon {
    font-size: 36px;
}
#weather-container {
    padding: 16px;
    margin-bottom: 10vh;
    /* border: 1px solid white; */
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: inset 1rem 1rem 1rem -0.5rem white,
        inset -1rem -1rem 1rem -1rem #add8e6, 0 0 5rem rgba(0, 101, 148, 0.5);
    text-shadow: 0 0 1rem white;
}
select {
    background-color: transparent;
    border: none;
}
#forecast {
    position: relative;
}
.forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forecast-day .day {
    font-weight: bold;
}
.forecast-day .description {
    font-size: 0.9em;
    line-height: 1.1em;
}
#city-name {
    color: #222;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 1rem;
}
#zip-form {
    /* margin-top: 1rem; */
    /* border-top: 0.25px solid silver; */
    /* padding: 0 1rem 0.5rem; */
    font-size: 0.8rem;
    text-align: center;
    color: grey;
}
/* #zip-form label {
    vertical-align: middle;
} */
#zip-input {
    border: 1px solid grey;
    color: #333;
    background-color: transparent;
    vertical-align: middle;
    /* box-shadow: inset 0 0 0.5rem grey; */
}
/* #zip-button {
    border: 1px solid grey;
    border-radius: 1rem;
    font-size: 0.9em;
    background-color: transparent;
    box-shadow: inset 0 0 0.5rem white;
    color: #333;
    margin-left: 0.5rem;
}
#zip-button:hover {
    background-color: lightgrey;
} */

/* @media (max-width: 510px) {
    #zip-form {
        text-align: center;
    }
    #zip-input {
        border: 1px solid grey;
        color: #333;
        background-color: transparent;
        font-size: 2rem;
        border-radius: 1rem;
    }
} */
@media (min-width: 991px){
    /* bootstrap md */
    #city-name {
        /* text-align: left; */
        padding-left: 2rem;
    }
}
@media(max-width: 767px){
    /* bootstrap small */

    #today-main {
        display:none;
    }
    
    #todays-overview > div {
        display: inline-block;
        margin: 0;
    }
    select {
        text-align: left;
        margin-right: 1rem;
    }
}
@media (max-width: 575px){
    /* bootstrap xs */
    #city-name {
        font-size: 1.1rem;
    }
    .forecast-day .description {
        font-size: 0.7em;
    }
    .forecast-day:nth-child(-n+3) {
        margin-bottom: 2rem;
    }
    .small-icon {
        margin: -0.8rem;
    }
    #zip-input {
        font-size: 2rem;
        border-radius: 1rem;
    }
    #weather-container {
        margin: 0;
    }
}
@media (max-width: 420px){
    #todaysTemp {
        font-size: 28px;
    }
    #select-div {
        display: block !important;
    }
}
